<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms slidingExpiration="true" name="AuthCookie" protection="All" timeout="20" />
    </authentication>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1523F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="33CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" allowCookies="true"></binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="System.Web.ApplicationServices.AuthenticationService" behaviorConfiguration="AuthenticationServiceTypeBehaviors">
        <endpoint contract="System.Web.ApplicationServices.AuthenticationService" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" bindingNamespace="http://asp.net/ApplicationServices/v200" />
      </service>
      <service name="Democratics.Service1" behaviorConfiguration="MyServiceTypeBehaviors">
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Democratics.IService1" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="MyServiceTypeBehaviors">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <interceptorBehaviorExtension />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="interceptorBehaviorExtension" type="Democratics.InterceptorBehaviorExtension, Democratics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="connString" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b8e2ff3f-72c7-4b72-880c-a18a014fe9ba.sqlserver.sequelizer.com;initial catalog=dbb8e2ff3f72c74b72880ca18a014fe9ba;persist security info=True;user id=hkntmjekwauddkvf;password=7X7Tdm6mYvMLaQxfDZaZfPtk3u4EqU54rLxuQQoyAuMPPNmJF8Do5giqDVZRqy4d;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbb8e2ff3f72c74b72880ca18a014fe9baEntities" connectionString="metadata=res://*/NovaDemokraciaModel.csdl|res://*/NovaDemokraciaModel.ssdl|res://*/NovaDemokraciaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b8e2ff3f-72c7-4b72-880c-a18a014fe9ba.sqlserver.sequelizer.com;initial catalog=dbb8e2ff3f72c74b72880ca18a014fe9ba;persist security info=True;user id=hkntmjekwauddkvf;password=7X7Tdm6mYvMLaQxfDZaZfPtk3u4EqU54rLxuQQoyAuMPPNmJF8Do5giqDVZRqy4d;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NovaDemokraciaModelContainer" connectionString="metadata=res://*/NovaDemokraciaModel.csdl|res://*/NovaDemokraciaModel.ssdl|res://*/NovaDemokraciaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b8e2ff3f-72c7-4b72-880c-a18a014fe9ba.sqlserver.sequelizer.com;initial catalog=dbb8e2ff3f72c74b72880ca18a014fe9ba;persist security info=True;user id=hkntmjekwauddkvf;password=7X7Tdm6mYvMLaQxfDZaZfPtk3u4EqU54rLxuQQoyAuMPPNmJF8Do5giqDVZRqy4d;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbb8e2ff3f72c74b72880ca18a014fe9baEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b8e2ff3f-72c7-4b72-880c-a18a014fe9ba.sqlserver.sequelizer.com;initial catalog=dbb8e2ff3f72c74b72880ca18a014fe9ba;persist security info=True;user id=hkntmjekwauddkvf;password=7X7Tdm6mYvMLaQxfDZaZfPtk3u4EqU54rLxuQQoyAuMPPNmJF8Do5giqDVZRqy4d;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>